name: Deploy Website to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Pull code from GitHub
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Save SSH key on runner
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.CICD }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      # Step 3: Delete old files and copy new ones
      - name: Deploy files to EC2
        run: |
          # Clear old files
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST_IP }} 'sudo rm -rf /var/www/html/*'

          # Copy updated files
          scp -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa -r . ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST_IP }}:/var/www/html/

          # Fix file permissions
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST_IP }} 'sudo chown -R www-data:www-data /var/www/html && sudo chmod -R 755 /var/www/html'
