name: Deploy Website to Local Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy Website
        run: |
          echo "Starting Deployment..."
          rsync -av --delete ./ /var/www/html/grilli/
          echo "Deployment Completed Successfully"
